.navlink {
  text-decoration: none;
  font-weight: 500;
}
.active {

  font-weight: 700 !important;
  color: rgb(27, 68, 253) !important;
  padding-bottom: 10px !important;
  border-bottom: 3px solid rgb(4, 0, 255) !important;
  
}

.brandname{
    color: #1976d2 !important;
}

#Navbar {
    background-color: rgb(221, 219, 219) !important;
    /* padding: 0px !important; */
}